In [2]:
pip install pandas

Collecting pandas
  Using cached pandas-2.3.0-cp313-cp313-macosx_11_0_arm64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.3.0-cp313-cp313-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Cellar/jupyterlab/4.4.1/libexec/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.4.1/libexec/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.0-cp313-cp313-macosx_11_0_arm64.whl (10.7 MB)
Using cached numpy-2.3.0-cp313-cp313-macosx_14_0_arm64.whl (5.1 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.3.0 pandas-2.3.0 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.4.1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
#stock prices data scipping
import requests
import bs4 as BeautifulSaop
import pandas as pd
import time

In [2]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36',
    'Accept-Language': 'en-US,en;q=0.9',
    'Accept-Encoding': 'gzip, deflate, br',
    'Connection': 'keep-alive'
}

In [3]:
#collect url to scrap
urls = [
    'https://groww.in/us-stocks/nke',
    'https://groww.in/us-stocks/ko',
    'https://groww.in/stocks/m-india-ltd', 
    'https://groww.in/us-stocks/axp', 
    'https://groww.in/us-stocks/amgn', 
    'https://groww.in/us-stocks/aapl', 
    'https://groww.in/us-stocks/ba', 
    'https://groww.in/us-stocks/csco'
]

In [15]:
all_data = []

for url in urls:
    try:
        page = requests.get(url, headers=headers, timeout=10)
        soup = temp(page.text, 'html.parser')

        company_tag = soup.find('h1', {'class': 'usph14Head displaySmall'})
        company = company_tag.text if company_tag else 'N/A'

        price_tag = soup.find('span', {'class': 'uht141Pri contentPrimary displayBase'})
        price = price_tag.text if price_tag else 'N/A'

        change_tag = soup.find('div', {'class': 'uht141Day bodyBaseHeavy contentNegative'})
        change = change_tag.text if change_tag else 'N/A'

        volume_tag = soup.find('table', {'class': 'tb10Table col l5'})
        volume = volume_tag.find_all('td')[1].text if volume_tag else 'N/A'

        all_data.append([company, price, change, volume])

    except Exception as e:
        print(f"Error scraping {url}: {e}")

    time.sleep(10)

columns = ["company", "price", "change", "volume"]
df = pd.DataFrame(all_data, columns=columns)
df
#df.to_excel("stocks.xlsx", index=False)

                                 company    price           change volume
0                               Nike Inc   $62.37              N/A    N/A
1                  Coca-Cola Company The   $71.10  -0.06(0.08%) 1D    N/A
2                  Microsoft Corporation  $462.77  -0.20(0.04%) 1D    N/A
3                                    N/A      N/A              N/A    N/A
4                    American Express Co  $297.30  -0.09(0.03%) 1D    N/A
5                              Amgen Inc  $289.57              N/A    N/A
6                              Apple Inc  $202.32  -0.95(0.47%) 1D    N/A
7                                    N/A      N/A              N/A    N/A
8                      Cisco Systems Inc   $64.50              N/A    N/A
9            Goldman Sachs Group Inc The  $604.00              N/A    N/A
10  International Business Machines Corp  $264.53  -0.67(0.25%) 1D    N/A
11                     Intel Corporation   $20.36              N/A    N/A
12                   JPMorgan Chase & Co  $266.07  -0.20(0.08%) 1D    N/A
13                       McDonald's Corp  $312.90              N/A    N/A
14                     Salesforcecom Inc  $264.56              N/A    N/A
15            Verizon Communications Inc   $43.89              N/A    N/A
16                              Visa Inc  $365.61  -0.25(0.07%) 1D    N/A
17                           Walmart Inc   $99.72  -0.26(0.26%) 1D    N/A
18               Walt Disney Company The  $113.68              N/A    N/A

In [18]:
df.to_excel('stocks.xlsx')

In [17]:
    pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: /opt/homebrew/Cellar/jupyterlab/4.4.1/libexec/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.